@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
  padding: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #bdbaba;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #979696; 
}

@media only screen and (max-width: 600px) {
  .doughnut-chart-container {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  .doughnut-chart-container {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  .doughnut-chart-container {
    width: 100%;
  }
  .confidence-container{
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .doughnut-chart-container {
    width: 100%;
  }
  .confidence-container{
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .doughnut-chart-container {
    width: 80%;
  }
  .confidence-container{
    width: 80%;
  }
}

@media only screen and (min-width: 1200px) {
  .doughnut-chart-container {
    width: 70%;
  }
  .confidence-container{
    width: 70%;
  }
}
@media only screen and (min-width: 1310px) {
  .doughnut-chart-container {
    width: 450px;
  }
  .confidence-container{
    width: 320px;
  }
}
@media (min-width: 1600px) {
  .doughnut-chart-container {
    width: 600px;
  }
  .confidence-container{
    width: 400px;
  }
}

@media (min-width: 1994px) {
  .doughnut-chart-container {
    width: 600px;
  }
  .confidence-container{
    width: 410px;
  }
}
